*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.card-img-top1{
  height: 350px !important;
 
}
.bookmark{
  width: 40px; height: 40px;
  background-color:rgba(0,0,0, .5) ;
}
.btn-main{
  background-color:rgba(0,0,0, .5) ;
  transition: background-color 0.3s !important; /* Smooth transition */

}
.btn-main:hover {
  background-color: rgba(0, 0, 0, 0.7) !important; /* Darker on hover */
  color:white !important;
}
.w-90{
  width: 90% !important;
}
.h-60{
  height: 60% !important;
}
